body {
  margin: auto;
  padding: 0;
  font-family: Poppins, serif;
  background-color: #000000e5;
  color: white;
}

.nav-sec {
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgb(33, 32, 32);
  box-shadow: green 0px 20px 20px -50px;
  top: 0;
}

ul {
  display: flex;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: white;
  padding-left: 25px;
}

ul a:hover {
  color: green;
}

.code {
  padding-top: 18px;
  color: green;
  font-weight: 700;
  font-size: 26px;
  font-family: serif;
}

.container {
  margin: 8% auto;
  width: 70%;
  background:
    linear-gradient(to bottom, #02430262, transparent 80%) top,
    linear-gradient(to top, #0051005a, transparent 60%) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#home,
#about {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 100px;
}

#home {
  height: 48vh;
  padding: 30px 0 0 20px;
}

#about {
  height: 45vh;
  padding-top: 30px;
}

.left {
  width: 60%;
}

.left,
.right2 {
  text-align: left;
  font-size: 18px;
}

.left h1 {
  font-size: 60px;
  font-family: serif;
  font-weight: 900;
}

.image {
  height: 40vh;
  width: 30vw;
  margin-right: 20px;
}

.know-more {
  padding: 8px 18px;
  background-color: green;
  color: white;
  margin-top: 14px;
  font-size: 14px;
  cursor: pointer;
}

.know-more:hover {
  background-color: transparent;
}

/* #about-me */

.about-me,
.services {
  text-align: center;
  font-family: serif;
  padding-top: 70px;
}

span {
  color: green;
  font-family: serif;
}

.right2 {
  margin-top: -15px;
}

.image2 {
  height: 58vh;
  margin-left: 50px;
  width: 30vw;
}

.right2 h3 {
  font-size: 28px;
  font-family: serif;
  line-height: 1.5;
}

.right2 p {
  line-height: 2.5;
  font-size: 18px;
}

.left2 {
  width: 45%;
}

.wrap-btn {
  margin-top: 50px;
}

.btn1 {
  padding: 14px 28px;
  background-color: green;
  color: white;
  font-size: 15px;
  margin-right: 55px;
  cursor: pointer;
  font-weight: 700;
}

.btn1:hover {
  background-color: transparent;
}

.btn2 {
  padding: 10px 38px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn2:hover {
  background-color: green;
}

.wrap-us {
  display: flex;
  padding: 35px 10px;
  line-height: 2;
  width: 100%;
}

.myservice {
  width: 25%;
  padding-right: 20px;
  text-align: center;
}

.myservice img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 770px) {
  .container {
    margin: 8% auto;
    width: 95%;
  }

  #home,
  #about {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left,
  .right2 {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .know-more {
    margin: 12px 0 34px 0;
  }

  .left2 {
    width: 100%;
  }

  .wrap-btn {
    display: flex;
  }

  .btn2 {
    margin-top: 30px;
  }

  .wrap-us {
    display: flex;
    flex-direction: column;
  }

  .myservice {
    width: 95%;
    padding-right: 0;
  }

}